app-header{
    height: 70px;
}

app-footer{
    height: 100px;
}

main{
    flex: 1;
    overflow-y: scroll;
    height: 78vh;
    max-height: 78vh;
    padding: 18px;
    padding-top: 44px;
}

@media(min-width: 1032px){
    main{
        /* padding-left: 167px; */
        padding-top: 70px;
        max-height: 178vh;
        height: 180vh;
        width: 1029px;
        margin: auto;
    
    }

   
}